<div id="intro-bg-img">
    <div id="intro-section" class="section">
         <h1>Welcome to AI Clauset</h1>
    </div>
</div>

<div id="info-section" class="section">
    <h1>What is AI Clauset</h1>
    <div class="d-flex flex-row">
        <ul>
            <li>Personalized outfit suggestions</li>
            <li>Discovery of complementary colors</li>
        </ul>
        <ul>
            <li>Real-time weather outfit adaptation</li>
            <li>Virtual try-on feature</li>
        </ul>
    </div>
    <br><br>
    <h1>How it works</h1>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="circle">
            <h3>Step 1</h3>
            <p>Add your clothes pictures.</p>
        </div>
        <img src="./img/arrow.png" alt="arrow">
        <div class="circle">
            <h3>Step 2</h3>
            <p>AI Clauset will suggest you outfits.</p>
        </div>
    </div>
    <br><br>
    <a href="/signup"><button type="button" class="btn btn-outline-light btn-lg">Try it now</button></a>
</div>