<div id="getin" class="section">
    <h1>Login</h1>
    <br><br>
    <form>
        <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
        <br>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <br><br>
        <button type="submit" class="btn btn-light">Login</button>
    </form>
</div>